<style>


</style>

<div class="load">
    <img
        src="https://www.7cortex.com/templates/7cortexj4/images/groupe_7cortex.png"
        alt=""
    />
   <div class="loader">

   </div>
</div>

<script>
    window.addEventListener("load", function () {
        var loader = document.querySelector(".load");
        loader.style.display = "none";
    });
</script>
